<h1>My Clients: </h1>

<ul class="client">
    <li  *ngFor="let client of ClientList">
        <a routerLink="/details/{{client.id}}">
            <span class="badge"> {{client.name}}  </span> {{client.program_name}}
        </a>
    </li>
</ul>



<app-add-client [ClientList]="ClientList"></app-add-client>