<p>add-client works!</p>

<div>
    <label for="new-client">Client name: </label>
    <input matInput id="new-client" #clientName />
    
    <!-- (click) passes input value to add() and then clears the input  -->
    <button mat-raised-button class="add-button" clientName.value=''>
      Add hero
    </button>
  </div>
