<div style="text-align: center; padding: 5px;">
    <h2>Login</h2>
</div>

<div style="display: flex; justify-content: center; padding: 2px; ">
    <form class="example-form" >
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Name</mat-label>
            <input matInput required [(ngModel)]="name" name="Name" />
            <mat-error>Name is required</mat-error>
        </mat-form-field>
       
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput required [(ngModel)]="password" name="password" />
            <mat-error>Password is required </mat-error> 
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>ID</mat-label>
            <input matInput required [(ngModel)]="id" name="id" />
            <mat-error>ID is required </mat-error> 
        </mat-form-field>
        
        <div style="display: flex; justify-content: center; height: 30px; ">
            <button (click)="login()" class="button" mat-raised-button [disabled]="password == undefined || password === '' 
                                                                  || name == undefined || name === '' 
                                                                  || id == undefined || id === ''">Login</button>
        </div>
    </form>
</div>


