.example-form {
    margin-bottom: auto; 
    margin-top: auto;
    display: flex;
    flex-direction: column;
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }

.example-full-width {
  width: 100%;
}

.button {
  width: 50%;
  height: 110%;
}
