<div style="text-align: center; padding: 5px;">
    <h2>Singin</h2>
</div>

<div style="display: flex; justify-content: center; padding: 2px; ">
    <form class="example-form">
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Name</mat-label>
            <input matInput [(ngModel)]="name" name="Name"/>
        </mat-form-field>
    
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput [(ngModel)]="password" name="password" />
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Repeat Password</mat-label>
            <input matInput [(ngModel)]="repassword" name="repassword" />
        </mat-form-field>

        <div style="display: flex; justify-content: center; height: 40px; ">
            <button class="button" mat-raised-button>Sign in!</button>
        </div>
    </form>
    
</div>