<div *ngIf=(client)>
    <h2>{{client.name | uppercase}}'s Details:</h2>
    <span class="result"> Age: {{ client.age}}  </span> <br>
    <span class="result">Program: <input class="result" [(ngModel)]="client.program_name" placeholder="name" ></span>
    <button (click)="goBack()">Back</button>
    <!-- <button (click)="save()">save</button> -->
</div> 

