<div *ngIf="messageService.messages.length">
    <h1>Messages: </h1>
    <div *ngFor="let message of messageService.messages">
        {{message}}
    </div>

    <div class="clear">
        <button (click)="messageService.clear()"> Clear Messages</button>
    </div>
</div>
