<div class="client-menu">
  <a routerLink="/home"> Home </a>
  <div *ngIf="loginSer.loginStatus==false" style="display: inline; width: 100%;">
    <a routerLink="/login">Login</a>
    <a routerLink="/signin"> Sign in</a>
  </div>  
  <div *ngIf="loginSer.isAdmin" style="display: inline; width: 100%;"> 
    <a routerLink="/clients">My Clients</a>
  </div>
</div>
