
h2 {
  text-align: center;
}

.client-menu {
  width: auto;
  flex-wrap:wrap;

  padding-bottom: 25px;
  padding-top: 10px;
}

a {
  background-color: #3f525c;
  padding: 1rem;
  font-size: 1.2rem;
  text-decoration: none;
  color: #fff;
  text-align: center;
}

@media (min-width: 600px) {
  a {
    width: 10%;
    box-sizing: content-box;
  }
}

a:hover {
  background-color: #000;
}